/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kanit&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kanit&family=Roboto:wght@900&family=Secular+One&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

p {
    padding: 0 !important;
    margin: 0 !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 1300px;


}

body {
    background-color: #F3F4F6;
}

/*  */

.logo img {
    height: 60px;
    width: 186px;
}

.nav-link {
    font-size: 20px;
}

.nav-item {
    margin-right: 20px;
    width: max-content;
}

.d {
    display: flex;
    flex-direction: column;
}

.upper {
    position: relative;
}

.upper::after {
    content: '';
    position: absolute;
    background-image: url(img/yaufdsu.svg);
    background-repeat: no-repeat;
    height: 24px !important;
    width: 150%;
    bottom: 0px;
    right: -56px;
    top: 56px;
}

/*  */
.getstarted {
    display: flex;
    justify-content: end;
    margin-top: 27px;
}

.btne {
    background-color: #F15A29;
    height: 56px;
    width: 221px !important;
    text-decoration: none;
    color: white;
    border-radius: 27px;
    font-size: 20px;
    border: none;
}

h1 {
    font-size: 53px;
    font-family: 'Roboto', sans-serif;
}

.text p {
    font-size: 27px;
    text-align: end;
    font-family: 'Roboto', sans-serif;
}

/*  */
.first-img {
    position: relative;
    height: 600px;
    background-image: url("img/Rectangle\ 621.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.info {
    position: absolute;
    bottom: -29px;
    left: 69%;
    height: 89px;
    width: 233px;
    background-color: white;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 10px 0px #f5f5f5;
}

.d-flex {
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

.google p {
    font-size: 20px;
    line-height: 1.6;
}

/* \ */
.mkd {
    margin-top: 50px;
    background-color: #F3F4F6;
}

.mt {
    margin-top: 50px;
}

.l {
    display: none;
}

h2 {
    font-size: 44px;
    text-align: center;
    padding-bottom: 38px;
    font-family: 'Roboto', sans-serif;
    color: gainsboro;
}

/* .Manufacturer {
    display: flex !important;
    margin-top: 30px !important;
    column-gap: 94px !important;
} */

.crousalim {
    margin-top: 20px;
}

.btnuu {
    background-color: #F2E6E1 !important;
    height: 38px !important;
    width: 128px !important;
    text-decoration: none !important;
    color: #F15A29 !important;
    border-radius: 27px !important;
    font-size: 15px !important;
    border: none !important;
}

.text2 {
    margin-top: 32px;
    font-size: 18px;
}

.brand {
    position: relative;
}

.brand::after {
    content: '';
    position: absolute;
    background-image: url(/img/upper-icon.svg);
    background-repeat: no-repeat;
    height: 40px !important;
    width: 64px;
    right: 20px;
    right: 0px;
    top: -36px;
    left: 102px;
}

.brand::before {
    content: '';
    position: absolute;
    background-image: url(img/lover.svg);
    background-repeat: no-repeat;
    height: 40px !important;
    width: 185%;
    bottom: -38px;

}

.heading {
    margin-top: 20px;
}

.heading h3 {
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
}

.mk {
    margin-top: 43px;
    padding-bottom: 30px;
}


.btnu {
    background-color: #F15A29;
    height: 55px;
    width: 206px;
    text-decoration: none;
    color: #F2E6E1;
    border-radius: 27px;
    font-size: 20px;
    border: none;
}



.ht {
    height: 81px;
    background-color: white;
}

.inertext {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.inertext p {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.inertext img {
    display: flex;
    height: fit-content;
    margin-top: 13px;
}

/* inerimg */
.mt {
    margin-top: 7rem;
}

.inerimg {
    background-image: url("img/Rectangle 645.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.secound {
    background-image: url("img/Rectangle 649.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}



.inerimg1 {
    background-image: url("img/Rectangle 659.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.secound1 {
    background-image: url("img/Rectangle 642.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.inerimg2 {
    background-image: url("img/Rectangle 652.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.secound2 {
    background-image: url("img/webb 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.inerimg h2 {
    color: white;
    font-size: 57px;
    padding-top: 289px;
    text-align: left;
}

.inerimg1 h2 {
    color: white;
    font-size: 57px;
    padding-top: 289px;
    text-align: left;
}

.inerimg2 h2 {
    color: white;
    font-size: 57px;
    padding-top: 289px;
    text-align: left;
}

.middle {
    padding-right: 0px;
}

.middle p {
    font-size: 24px;
    color: white;
    background-color: black;
    text-align: center;
    height: 37px;
    align-items: center;
    padding-top: 5px !important;

}

.middle {
    display: none;
}



/*  */
.text4 p {
    font-size: 30px;
}

.textimg {
    display: flex;
}

.mks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 63px;
}

.info2 {
    height: 274px !important;
    width: 392px !important;
    background-color: white;
    border: 9px solid #f5f5f5;
    box-shadow: 0px 0px 10px 0px #f5f5f5;
}

.info2 img {
    margin-top: 16px;
}

.info2 p {
    margin-top: 10px !important;
}

/*  */
.Desig img {
    height: 660px;
}

/*  */
.Social {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px !important;
}

.media h4 {
    font-size: 41px;
    color: #F2E6E1;
    padding-bottom: 17px;
}

.media p {
    font-size: 20px;
    color: #F2E6E1;
}

/*  */

.shopify img {
    height: 31px;
    width: 183px;
    margin-top: 140px;
}

.shopif h1 {

    font-size: 58px;
    margin-top: 30px;
}

.shopif p {
    margin-top: 37px !important;
    font-size: 18px;
    line-height: 1.8;
    font-family: 'Bree Serif', serif
}


.fassion {
    position: relative;
    height: 672px;
    width: 492px;
    background-image: url("img/csaba-balazs-q9URsedw330-unsplash\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    margin-top: 40px;
}

.fassion2 {
    position: absolute;
    height: 423px;
    width: 326px;
    background-image: url(img/results_4\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    right: 66%;
    top: 40%;
}

.pt {
    display: flex;
    justify-content: end;
}

/*  */

.btna {
    background-color: #F15A29;
    height: 60px !important;
    width: 224px !important;
    text-decoration: none !important;
    color: white !important;
    border-radius: 36px !important;
    font-size: 20px !important;
    border: none !important;
    margin-top: 34px !important;
}

.intext h1 {
    font-size: 34px;
}

.inetext p {
    font-size: 28px;
    font-family: 'Bree Serif', serif;
    margin-top: 20px !important;
}

/*  */

.mycr {
    display: flex;
    height: 235px !important;
    width: 276px !important;
    background-color: white;
    border: 9px solid #f5f5f5;
    box-shadow: 0px 0px 10px 0px #f5f5f5;
    padding: 14px;
}

.marketers p {
    font-size: 32px;
    padding-top: 20px !important;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.tag img {
    height: 149px;
}

.tagineer h1 {
    font-size: 16px;
}

.tagineer p {
    font-size: 15px;
    padding-top: 12px !important;
}

/* */
.secoundcrousal {
    display: none;
}


.bl {
    display: flex;
    justify-content: center;
    padding-top: 21px;
}

.b-s {
    border: none;
    background-color: #F15A29;
    color: white;
    height: 60px;
    width: 242px;
    font-size: 20px;
}

/*  */
.youtube {
    background-image: url("img/linkedin-sales-solutions-Xo65s4yhRSo-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    height: 760px;
}

/*  */
.mts {
    margin-top: 11px;
}

.sline {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.mktext p {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #F15A29;
}

.mktext h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 20px;
}

.b {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.b img {
    height: 30px;
}

/*  */
.sline {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.mktext p {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #F15A29;
}

.mktext h1 {
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    margin-top: 20px;
}

.b {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.b img {
    height: 30px;
}

/*  */
.row {
    display: flex;
}

#fname {
    height: 48px;
    width: 49%;
    border: none;
    background: transparent;
    margin-top: 10px;
    border-bottom: 2px solid rgb(231, 229, 229);
}

#fname:hover {
    border-bottom: 2px solid #F15A29;
}

#massage {
    height: 56px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(231, 229, 229);
    background: transparent;
    margin-top: 10px;
    outline: none;
}

input:focus {
    outline: none;
}

#massage:hover {
    border-bottom: 2px solid #F15A29;
}

.submit {
    background-color: #F15A29;
    height: 56px;
    width: 221px !important;
    text-decoration: none;
    color: white;
    border-radius: 27px;
    font-size: 20px;
    border: none;
}

.submite {
    display: flex;
    justify-content: end;
    padding-top: 26px;
}



/*  */

.mts {
    padding-top: 58px;
}

.bks {
    background-color: black;
    height: 400px;
}

.icone {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    width: 100%;
    height: auto;
}

.fot img {
    height: 25px;
    width: 195px;
}

.fot h1 {
    font-size: 18px;
    color: white;
}

.fot p {
    margin-top: 40px !important;
    height: 10px;
    color: white;
}

.fot ul {
    margin-top: 49px !important;
    line-height: 1.1px;
    list-style-type: none;
    color: white;

}

.fot ul li {
    line-height: 1.7;
}

.icone p {
    color: white;
    font-size: 20px;
}

/*  */
.foterp {
    display: none;
}


@media (min-width: 320px) and (max-width: 767px) {
    .info {
        top: 244px;
        left: 19% !important;
        height: 89px;
        width: 233px;

    }

    .heading h3 {
        font-size: 51px;
    }

    .hide {
        display: none;
    }

    h1 {
        text-align: center;
    }

    .l {
        margin-top: 18px !important;
    }

    .text p {
        text-align: center;
    }

    .hidt {
        display: none;
    }

    .middle {
        display: block;
    }

    .getstarted {
        justify-content: center;
    }

    .shopif h1 {
        font-size: 53px;
    }

    .shopify img {

        margin-top: 0px;
        margin-left: 79px;
    }

    .shopif p {
        margin-top: 45px !important;
        font-size: 24px;
        text-align: center;
        line-height: 1.3;
    }

    .intext h1 {
        font-size: 35px;
    }

    .youtube {
        background-position: center;
        height: 339px;
    }

    .bks {
        display: none;
    }

    .Desig img {
        height: 498.98px;

        margin-top: 348px;
    }

    h2 {
        font-size: 28px;
    }

    #fname {
        width: 100%;
        font-size: 25px;

    }

    #massage {
        font-size: 25px;
    }

    .b {
        padding-top: 10px;
    }

    .b img {
        height: 56px;
    }

    .sline {
        display: flex;
        flex-direction: column;
    }

    .b p {
        display: flex;
        font-size: 20px;
    }

    .t {
        display: none;
    }

    .foterp {
        display: block;
    }

    .l {
        display: block;
    }

    .secoundcrousal {
        display: block;
    }

    .text p {
        padding-top: 62px !important;
    }

    .o-video>iframe {
        height: 404px;

    }

    .first-img {
        background-position: bottom;

    }

    .btna {
        height: 60px !important;
        width: 224px !important;
        border-radius: 38px !important;
        font-size: 16px !important;

    }

    .submite {
        display: flex;
        justify-content: center;
        padding-top: 26px;
    }

    .submit {
        width: 294px !important;
        font-size: 26px;


    }

    .mane {
        margin-top: 30px !important;
    }

    .fassion2 {
        right: 10%;
        height: 462px;
        background-size: contain;
        top: 66%;
        background-position: bottom;
    }

    .mts {
        padding-top: 3px;
    }



    .mktext h1 {
        font-size: 40px;
        margin-top: 20px;
        text-align: left;
    }

    .inetext p {
        font-size: 20px;
        line-height: 1.3;
    }

    .getstartede {
        display: flex;
        justify-content: center;
    }

    .mt {
        margin-top: 24px !important;
    }

    .foterp {
        background-color: black;
        margin-top: 20px;
        height: 178px;
    }

    .last-logo img {
        display: flex;
        margin: 0 auto;
        height: 70px;
        padding-top: 13px;
    }

    .last-logo p {
        text-align: center;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        color: #F3F4F6;

        padding-top: 17px !important;
    }

    .icone {
        display: flex;
        justify-content: space-between;


    }

    .topform {
        padding-top: 30px;
    }

    .last-log {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        padding-top: 17px !important;
    }

    .last-log img {
        display: inline;
        height: 40px;
    }

    .first-img {
        position: relative;
        height: 308px;
        background-image: url(img/Rectangle\ 622.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 40px;
    }

    .inerimg {
        display: none;
    }

    .inerimg1 {
        display: none;
    }

    .inerimg2 {
        display: none;
    }

    .secound {
        height: 317px;
        width: 100%;
        margin-top: 30px;
    }

    .secound1 {
        height: 346px;
        width: 100%;
    }

    .secound2 {
        height: 347px;
        width: 100%;
    }

    .fassion {
        position: relative;
        height: 545px;
        /* width: 407px; */
        background-image: url("img/03\ copy\ 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: cover;
        margin-top: 40px;
    }

    .mkd {
        display: none;
    }
}